header {
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: rgb(63, 188, 226);
    background-size: contain;
    position: relative;
}

.logo{
    width: 10%;
    position: absolute;
    bottom: 5%;
    left: 1%;
}

h1 {
    font-size: 40px;
}

#booleaners{
    color: aqua;
}

.crediti{
    font-size: 18px;
    font-weight: bold;
    color: rgb(155, 155, 155);
}

.highlighted{
    background-color: yellow;
}
